* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}

header {
    background: linear-gradient(to right bottom, #ff0000, #8001ff);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header h2 {
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #333;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.section {
    margin-bottom: 30px;
    padding: 20px;
    background: linear-gradient(to bottom, #333, #000);
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
}

.section-header {
    background: linear-gradient(to right bottom, #ff0000, #8001ff);
    color: #fff;
    padding: 10px;
    text-align: center;
}

.section-header h2 {
    font-size: 28px;
}

.section-content {
    margin: 10px 0;
}

footer {
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
